<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVELYN WEB</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <article id="App">
        <header>
        <section id="NavContent">
            <h1 id="Logo">
                <a href="index.htm">
                <!-- EVELYN PORTFOLIO -->
                    <img src="images/icons/LOGO3.png" alt="">
                </a>
            </h1>
            <nav id="NarBar">
                <ul id="MenuContent">
                    <li v-for="item in NavItems" :key="item.id">
                        <a :href="item.link" :id="item.id">{{ item.text }}</a>
                    </li>
                </ul>
            </nav>
        </section>

        <ul id="Carousel">
            <li  v-for="item in CarouselItems" :key="item.id" :id="item.id" :class="item.class">
            <img :src="item.img" :alt="item.text">
                <p>{{ item.text }}</p>
            </li>
            <!-- <li id="Two" class="CarouselImg">
                <img src="images/CarouselXXL/2.png" alt="廣告圖片2" title="Storybook Design">
                <p>Storybook Design</p>
            </li>
            <li id="Three" class="CarouselImg">
                <img src="images/CarouselXXL/3.png" alt="廣告圖片3" title="Packaging Design">
                <p>Packaging Design</p>
            </li> -->
            <div class="Controls">
                <button @click="prevSlide" >&lt;</button>
                <button @click="nextSlide" >&gt;</button>
            </div>
        </ul>
    </header>

        <main id="IndexMain">
        <section id="Abouts" class="BackColor">
            <div class="Title">
                <h2>ABOUT</h2>
            <p class="lineB"></p>
            </div>
            <ul>
                <li>
                我畢業於南台科技大學視傳系，從事過影視工作約四年，也任職過美編排版工作大約一年。影音部分於2020年與中國信託合作，近期因轉職在學習前端工程，包含UIUX、Figma、CSS、SCSS、HTML等等。也進修過咖啡、電繪等課程，致力於多方面的自我提升。我認為高效率和有條理的工作方式是我的優勢，習慣使用清晰的SOP和代辦事項來確保工作流程順利運行。
                </li>
            </ul>
        </section>

        <section id="Skills">
            <div class="Title">
                <h2>SKILL</h2>
                <p class="lineB"></p>
            </div>
            <div id="Cards">
                <article class="Cards">
                    <p class="CardsPadding">
                        <img src="/images/icons/ai.png" alt="">
                    </p>
                    <h3 class="CardsPadding">Graphic Design</h3>
                    <ul class="CardsPadding">
                        <li>Business card Design、Packaging Design、Board game Design</li>
                    </ul>
                </article>
    
                <article class="Cards">
                    <p class="CardsPadding">
                        <img src="/images/icons/UIUX.png" alt="">
                    </p>
                    <h3 class="CardsPadding">UI&UX Design</h3>
                    <ul class="CardsPadding">
                        <li>Website Design、APP Design、HTML、CSS、SASS、JavaScript</li>
                    </ul>
                </article>

                <article class="Cards">
                    <p class="CardsPadding">
                        <img src="/images/icons/pr.png" alt="">
                    </p>
                    <h3 class="CardsPadding">Video Editing</h3>
                    <ul class="CardsPadding">
                        <li>Premiere、DaVinci Resolve、Final Cut Pro</li>
                    </ul>
                </article>
            </div>
        </section>
        
        <section id="Works">
            <div class="Title">
                <h2>WORKS</h2>
                <p class="lineW"></p>
            </div>
            <ol class="WorksItems">
                <li v-for="work in worksImages" 
                    :key="work.id" 
                    :class="work.id + ' PictureContect'"
                    v-show="BIGIMAGE">
                    <a @click="ShowCloseBigImage(work)" href="javascript:;">
                        <span>{{ work.title }}</span>
                    </a>
                </li>
                <div v-show="!BIGIMAGE" id="BigImage">
                    <span @click="ShowCloseBigImage(null)" class="CloseBtn">CLOSE</span>
                        <img :src="selectedImage.src" :alt="selectedImage.alt">
                </div>
            </ol>
        </section>

        <section id="Contacts" class="BackColor">
            <div class="Title">
                <h2>CONTACT</h2>
                <p class="lineB"></p>
            </div>
            <form action="" method="get" id="contact">
                <div>
                    <p><label for="UserName">＊姓名：</label></p>
                    <input type="text" name="" id="UserName" required placeholder="請輸入姓名">
                </div>
                <div>
                    <p><label for="TelNumber">＊聯絡電話：</label></p>
                    <input type="tel" name="" id="TelNumber" required placeholder="09XX-XXX-XXX">
                </div>

                <div>
                    <p><label for="Email">＊電子郵件：</label></p>
                    <input type="email" name="" id="Email" required placeholder="請輸入電子郵件">
                </div>

                <div>
                    <p>＊主旨</p>
                    <label for="Graphic Design">
                        <input type="radio" name="Question" id="Graphic Design">平面設計
                    </label>
                    <label for="Web Design">
                        <input type="radio" name="Question" id="Web Design">網頁設計
                    </label>
                    <label for="Video Editing">
                        <input type="radio" name="Question" id="Video Editing">影片剪輯
                    </label>
                </div>
                
                <div>
                    <p><label for="Illustrate">詳細說明：</label></p>
                    <textarea name="" id="Illustrate" cols="30" rows="10" placeholder="請輸入詳細說明"></textarea>
                </div>

                <p>
                    <input type="submit" value="確認送出">
                    <input type="reset" value="重新設定">
                </p>
            </form>
        </section>
    </main>

        <footer>
       <section id="FooterContent">
            <nav id="SubNav"></nav>
            <h5>
                <p>
                    &copy; 2025-<span id="Year"></span> EVELYN All Rights Reserved
                </p>
                <p>
                    請尊重智慧財產權 著作權為 EVELYN 轉載必究
                </p>
            </h5>
       </section>
    </footer>
    </article>

    <!-- 移除這行,因為 vue.js 已經透過 import 載入 Vue -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script type="module" src="vue/vue.js"></script>
    <!-- <script type="module" src="javascript/javascript.js"></script> -->
</body>
</html>