/* 標籤選擇器 */
header{
    /* 利用色塊來做定位 */
    background-color: #EAD8C0;
}

/* 指定（後代）選取器 （最多指定三階）*/
header > section{
    width: 100%;
    /* 置中 上下0 左右自動 */
    margin: 0 auto;
    background-color: #f6f3ef; 
    /* 顯示：彈性佈局 */
    display: flex;
    height: 80px;
    /* 水平均分（貼齊頭尾） */
    justify-content: space-between;
    /* 垂直置中 */
    align-items: center;
    color: #5E4B3C;
    padding-top: 20px;
    /* 停留在最上方 定位點：停佇 */
    position: fixed;
    top: 0;
    /* 順序 設定階層 */
    z-index: 10;
}

header > section > h1{
    font-size: 20px;
    font-weight: bold;
}

header > section > nav{
    width: 35%;
    /* background-color: aquamarine; */
    margin-right: 5%;
    margin-bottom: 20px;
}

section > nav > ul {
    display: flex;
    /* 水平均分 （前後有距離） */
    justify-content: space-around;
}

/* id選擇器 需要被javascript控制 或是 同一框架內有相同標籤 */
#MenuContent > li > a{
    text-decoration: none;
    color: #5E4B3C;
    font-weight: bold;
    font-size: 22px;
}
#Logo > a >img{
    width: 150px;
    height: auto;
    margin-left: 60%;
    margin-bottom: 20px;
}

/* 廣告區 */
#Carousel{
    /* 導覽列高度80px＋底部間距10px */
    margin-top: 90px;
    width: 100%;
    /* height: 500px; */
}