/* 標籤選擇器 */
header{
    /* 利用色塊來做定位 */
    background-color: #EAD8C0;
}

/* 指定（後代）選取器 最多指定三階 */
header > section{
    width: 80%;
    /* 置中 上下0 左右自動 */
    margin: 0 auto;
    background-color: #F6F3EF;
    /* 顯示：彈性佈局 */
    display: flex;
    height: 60px;
    /* 水平均分 */
    justify-content: space-between;
}
section > nav > ul {
    display: flex;
}
nav > ul > li {
    /* 左右間距20px */
    margin: 0 20px;
}