/* 標籤選擇器 */
header{
    /* 利用色塊來做定位 */
    background-color: #EAD8C0;
}

/* 指定（後代）選取器 （最多指定三階）*/
header > section{
    width: 80%;
    /* 置中 上下0 左右自動 */
    margin: 0 auto;
    /* background-color: #F6F3EF; */
    /* 顯示：彈性佈局 */
    display: flex;
    height: 60px;
    /* 水平均分（貼齊頭尾） */
    justify-content: space-between;
    /* 垂直置中 */
    align-items: center;
    color: #5E4B3C;
}

header > section > nav{
    width: 60%;
    /* background-color: aquamarine; */
}

section > nav > ul {
    display: flex;
    /* 水平均分 （前後有距離） */
    justify-content: space-around;
}

/* id選擇器 需要被javascript控制 或是 同一框架內有相同標籤 */
#MenuContent > li > a{
    text-decoration: none;
    color: #5E4B3C;
    font-weight: bold;
}