/* 讀取類別 class (.) */

.BackColor {
    background-color: #F6F3EF;
}

#Abouts .Title, #Skills .Title, #Works .Title, #Contacts .Title {
    text-align: center;
    /* 留白取代高度 */
    padding: 80px 0 40px 0;
    font-size: 22px;
    font-weight: bold;
    color: #5E4B3C;
}

.lineB {
    width: 80px;
    height: 3px;
    background-color: #5E4B3C;
    margin: 15px auto 0 auto;
    border-radius: 2px;
}

/* 子孫選擇器 利用空白跳階層 */
#Abouts li {
    max-width: 50%;
    margin: 0 auto;
    line-height: 1.6;
    color: #5E4B3C;
    /* 文字置中 */
    text-align: center;
    padding-bottom: 80px;
    /* 文字大小 */
    font-size: 18px;
}


/* 技能卡片 */
#Skills > #Cards{
    /* background-color:#d0bfae; */
    width: 50%;
    /* 置中 */
    margin: 0 auto;
    /* 彈性佈局 */
    display: flex;
    /* 水平均分置中 */
    justify-content: center;
    /* 間距 */
    gap: 60px;
    padding-bottom: 80px;
}
.Cards {
    background-color: #F6F3EF;
    /* 利用函式計算寬度 不同單位不能計算 ((外層總寬度 / 卡片數量 - 間距值) *1倍單位值 )*/
    width: calc((100 / 3 - 6)*1%);
    font-size: 18px;
    font-weight: bold;
    color: #5E4B3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#Skills .Cards .CardsPadding{
    padding: 5px 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.CardsPadding img{
    width: 150px;
    height: 150px;
}
.CardsPadding li{
    font-size: 14px;
    font-weight: normal;
    /* 行高 */
    line-height: 1.6;
    padding-bottom: 35px;
}

/* 作品集 */
#Works {
    background-image: url(/images/background/work01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 背景滾動 */
    background-attachment: fixed;
}
#Works .Title h2 {
    color: #F6F3EF;
}
.lineW {
    width: 80px;
    height: 3px;
    background-color: #F6F3EF;
    margin: 15px auto 0 auto;
    border-radius: 2px;
}
.WorksItems {
    /* background-color: aqua; */
    width: 50%;
    /* 置中 */
    margin: 0 auto;
    /* 彈性佈局 */
    display: flex;
    /* 水平均分置中 */
    justify-content: center;
    /* 間距 */
    gap: 20px;
    /* 換行 */
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.WorksItems li {
    width: 300px;
    height: 200px;
    background-color: #d0bfae;
    border-radius: 8px;
}
.WorksItems li a {
    font-size: 20px;
    font-weight: bold;
    color: #5E4B3C;
    text-decoration: none;
    /* 文字透明 */
    color:transparent;
    /* 感應高度 */
    height: 200px;
    /* 感應寬度 */
    width: 300px;
    /* 彈性佈局 */
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}
.WorksItems a:hover{
    background-color: #5E4B3C;
    /* 背景顏色透明 */
    opacity: 0.8;
    border-radius: 8px;
}
a:hover span{
    /* 文字顏色 */
    color: #F6F3EF;
}
.One{
    background-image: url(/images/work/work1.png);
}
.Two{
    background-image: url(/images/work/work2.png);
}
.Three{
    background-image: url(/images/work/work3.png);
}
.Four{
    background-image: url(/images/work/work4.png);
}
.Five{
    background-image: url(/images/work/work5.png);
}
.Six{
    background-image: url(/images/work/work6.png);
}
.Seven{
    background-image: url(/images/work/work7.png);
}
.Eight{
    background-image: url(/images/work/work8.png);
}
.Nine{
    background-image: url(/images/work/work9.png);
}
.PictureContect{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 表單 */
#Contacts {
    padding-bottom: 80px;
}
#Contacts #contact{
    /* 寬度 */
    width: 600px;
    /* background-color: aqua; */
    /* 置中 */
    margin: 0 auto;
    /* 內縮留白 */
    padding: 20px;
    /* 框線 */
    border: 6px double #5E4B3C;
}
#Contacts #contact div{
    /* 底部留白 */
    margin-bottom: 10px;
}
#contact p{
    font-size: 18px;
    font-weight: bold;
    color: #5E4B3C;
    padding: 5px 0;
}
#contact div input[type="text"]{
    width: 585px;
    height: 20px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}