<header>
        <section id="NavContent">
            <h1 id="Logo">
                <a href="index.htm">
                <!-- EVELYN PORTFOLIO -->
                    <img src="images/icons/LOGO3.png" alt="">
                </a>
            </h1>
            <nav>
                <ul id="MenuContent">
                    <li id="NavAbout"><a href="#Abouts">About</a></li>
                    <li><a href="#Skills">Skill</a></li>
                    <li><a href="#Works">Works</a></li>
                    <li><a href="#Contacts">Contact</a></li>
                </ul>
            </nav>
        </section>

         <ul id="Carousel">
            <li id="One" class="CarouselImg Active">
                <img src="images/CarouselXXL/1.png" alt="廣告圖片1" title="Graphic Design">
                <p>Graphic Design</p>
            </li>
            <li id="Two" class="CarouselImg">
                <img src="images/CarouselXXL/2.png" alt="廣告圖片2" title="Storybook Design">
                <p>Storybook Design</p>
            </li>
            <li id="Three" class="CarouselImg">
                <img src="images/CarouselXXL/3.png" alt="廣告圖片3" title="Packaging Design">
                <p>Packaging Design</p>
            </li>
            <div class="Controls">
                <button id="PrevBtn">&lt;</button>
                <button id="NextBtn">&gt;</button>
            </div>
         </ul>
    </header>